html {
  height: 100%;
}

.app {
  header, h2, h1, footer, em, p{
    font-family: 'Roboto', sans-serif;
    font-weight:lighter;
  }
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font: 16px/1.5 'Roboto';

  main {
    flex: 1 0 auto;
    background-color: #EEEEEE;
    text-align: center;
    h2, p {
      color: #424242;
    }
  }

  p {
    margin-bottom: 1em;
  }

  header, main, footer {
    padding: 2em;
    color: white;
  }

  header {
    background-color: #00BCD4;
    text-transform: uppercase;
  }

  footer {
    background-color: #01579B;
    text-align: center;
  }

}

