.dialog--invite-form {
  //display: flex;
  //justify-content: center;
  .invite--message-box {
    text-align: center;
  }
  .react-alerts {
    position: relative;
    top: 10px !important;
    .alert {
      margin: 10px auto 0 auto;
    }
  }
}

